.ui-board {
    width: 600px;
    height: 600px;
    position: relative;
}

.lightsout-square {
    position: absolute;
    overflow: hidden;
    perspective: 1000px;
}

.lightsout-square-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    &.white {
        transform: rotateY(180deg);
    }
}
  
.lightsout-square-black, .lightsout-square-white {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.2rem solid #656565;
    border-radius: 12%;
}
  
.lightsout-square-black {
    background-color: #333;
}
  
.lightsout-square-white {
    background-color: #dfdfdf;
    transform: rotateY(180deg);
  }


.lightsout-cross {
    opacity: 0.7;
    fill: blue;
}